* {
    margin: 0;
    padding: 0;
}
.footer {
    /* position: fixed; */
    position: absolute;
    bottom: 0;
    width: 100%;
    /* position: relative;
    top: 20.7rem;
    
    height: 13rem; */
    
    background-color: var(--cor-destaque-escuro);
}

/* .logos_container {
    position: relative; 
    bottom: -2rem;

} */

.logo_footer {
    padding-top: 1rem;
    padding-left: 0.5rem;
}

.logo_apps {
    display: flex;
    justify-content: center;
    gap: 2rem;
    position: relative;
    bottom: 4.5rem;
    

}

.texto_container {
    position: relative;
    top: -2.5rem;
    padding-left: 20rem;
}

.texto_container li {
    font-weight: 400;
}

p {
    display: flex;
    justify-content: center;
    background-color: #2F2E41;
    color: white;
    padding-bottom: 1rem;
    font-weight: lighter;
    
}